* {
  border: 0;
  padding: 0;
  margin: 0;  
}

div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 700px;
}

h2 {
    font-size: 50px;
    background: white;
    padding: 10px 25px;
    border-radius: 0px;
    z-index: 1000;
}

.first-area h2 {    
    background:rgba(0, 0, 0, 0.35);
    height: 150px;
    width: 70%;
    color:rgb(200, 220, 237);
    
}
.second-area h2 {    
    background:rgba(248, 90, 111, 0.35);
    color:rgb(255, 255, 255);
}
.third-area h2 {    
    background:rgba(248, 90, 111, 0.35);
    color:rgb(220, 200, 200);
}
.fouth-area h2 {    
    background:rgba(248, 90, 111, 0.35);
    color:rgb(220, 200, 200);
}
.fifth-area h2 {    
    background:rgba(29, 14, 8, 0.55);
    color:rgb(255, 220, 206);
}
.sixth-area h2 {    
    background:rgba(255, 220, 206);
    color:rgb(29, 14, 8);
}
.seventh-area h2 {    
    background:rgba(172, 142, 131, 0.55);
    color:rgb(242, 228, 223);
}
.eigth-area h2 {    
    background:rgba(242, 214, 205);
    color:rgb(172, 142, 131);
}

div:nth-child(1) {
    background: url(img/img-1.jpg) no-repeat center;
    background-size: cover;
}

div:nth-child(2) {
    background: rgba(219, 222, 240, 0.85);
}

div:nth-child(3) {
    height: 500px;
    background: url(img/img-2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

div:nth-child(4) {
    background: rgba(225, 242, 229, 0.85);
}
div:nth-child(5) {
    height: 500px;
    background: url(img/img-3.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(6) {
    background: rgba(243, 235, 232, 0.85);
}
div:nth-child(7) {
    height: 500px;
    background: url(img/img-4.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}
div:nth-child(8) {
    background: rgba(240, 237, 236, 0.939);
}